spring:
  application:
    name: apiserver

  jpa:
    hibernate:
      ddl-auto: create

    show-sql: true

    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

    open-in-view: false


  profiles:
    include: private
logging:
  level:
    root: info
server:
  port: 8080