spring:
  application:
    name: apiserver

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/devmateTestDB
    username: minsik
    password: cm71806447*

  jpa:
    hibernate:
      ddl-auto: create

    show-sql: true

    properties:
      hibernate:
        format_sql: true

    open-in-view: false

  profiles:
    include: private

jwt:
  secret: 4f825379d86d10570287b521eee0bf24fbf40f5481091168eb4b295486d5a2f9

file:
  dir: /Users/choiminsik/Desktop/imageTest/
